input[type="text"] {
  border: 3px solid rgb(163, 163, 241);
  border-radius: 6px;
  color: rgb(62, 219, 122);
}
.current {
  width: 50%;
  height: 40px;
  background-color: cornsilk;
  color: goldenrod;
}
.game {
  display: flex;
}
.targetScore {
  width: 50%;
  height: 40px;
  background: khaki;
}
.currentInfo {
  display: flex;
}
